body{
    margin: 0;
    height: 100vh;
    background-color: rgb(75, 75, 75);
}

#cabecalho{
    width: 100vw;
    height: 2.5vw;
    background-color: #122854;
    margin: 0;
    box-sizing: border-box;
    display: flex;
}

.texto{
    font-family: Arial;
    font-weight: bolder;
    color: white;
    margin-left: 87vw;
}

#iconeCarrinho{
    position: relative;
    width: 3.3vh;
    height: 3.3vh;
    margin-top: 0.8vh;
}

#maisProduto{
    position: relative;
    margin-top: 1.3vh;
    width: 2.5vh;
    height: 2.5vh;
}

.adicionarEremover{
    width: 10vh;
    height: 5vh;
    background-color: rgb(25, 148, 25);
    position: relative;
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
}

.adicionarEremover:hover{
}